{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Opis użytkownika: {{ user.description }}</p>
    <div>
        <img src="http://bit.ly/2yo3zXg">
    </div>
</div>
