{% extends "::base.html.twig" %}

{% block title %}Memes{% endblock %}

{% block body %}
    {% for post in posts %}
        </br>
        <div class="card text-center" style="max-width: 500px">
            <img class="card-img-top" src="{{ post.pathToFileFromWeb }}" alt="{{ post.title }}">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">Comments: {{ post.comments | length }}</p>
                <p class="card-text">Upvotes: {{ post.upvotes }}</p>
                <p class="card-text">Category: {{ post.category.categoryName }}</p>
                <a href="{{ path('show_post', {"id":post.id}) }}" class="btn btn-primary">Get inside! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.createdAt|date('F j, Y') }} by
                <a href="{{ path('user_by_id', {"id":post.user.id}) }}">{{ post.user.username }}</a>
            </div>
        </div>
        </br>
    {% endfor %}
{% endblock %}



