{% extends "::base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    </br>
    <div class="card text-center" style="max-width: 500px">
        <img class="card-img-top" src="../{{ post.pathToFileFromWeb }}" alt="{{ post.title }}">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">Category: {{ post.category.categoryName }}</p>
            <p class="card-text">Comments: {{ post.comments | length }}</p>
            <p class="card-text">Upvotes: {{ post.upvotes }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.createdAt|date('F j, Y') }} by
            <a href="{{ path('user_by_id', {"id":post.user.id}) }}">{{ post.user.username }}</a>
        </div>
    </div>
    </br>

    <div id="comment_add">
        {{ render(controller(
        'AppBundle:Comment:addComment',  { 'id': post.id }
        )) }}
    </div>
    <hr>
    <div id="comments">
        {{ render(controller(
        'AppBundle:Comment:showAllComments',  { 'id': post.id }
        )) }}
    </div>
{% endblock %}
